<div class="ui basic modal" id="message">
  <i class="close icon"></i>
  <div class="header">
    Atención
  </div>
  <div class="image content">
    <div class="image">
      <i class="fa-exclamation-circle icon"></i>
    </div>
    <div class="description" style="
    margin-top: 40px;
">
      <p>El vehículo con placa <b>{{placa | uppercase }}</b> no tiene Multas y Sanciones por Infracciones de Tránsito.</p>
    </div>
  </div>
  <div class="actions">
    <div class="one fluid ui inverted buttons centered">
     <!--  <div class="ui cancel red basic inverted button">
       <i class="remove icon"></i>
       No
     </div> -->
      <div class="ui ok green basic inverted button" style="margin: 0px 45%;">
        <i class="checkmark icon"></i>
        Aceptar
      </div>
    </div>
  </div>
</div>